---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

.layout--profiles .profile-image,
.page-content.profiles .profile-image,
.profile-image {
  width: 130px !important;  
  height: 130px !important; 
  object-fit: cover;        
  border-radius: 50%;     
  margin: auto;
  display: block;
}
