---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

.profile img,
.profile .img-fluid {
  width: 100px !important;      
  height: 100px !important;
  object-fit: cover;           
  border-radius: 0 !important;
  display: block;
  margin: 0 auto;
}
