---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title" style="font-size: 34px;">

            {% if site.title == "blank" -%}<span>{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>
            

            
        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image
              cache_bust=true -%}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}
              
              
          <div class="clearfix">
            {{ content }}
          </div>

            <div>
                <a href="mailto:simeng.qiu@swansea.ac.uk"><i class="fas fa-envelope fa-2x"></i></a>
                <a href="https://orcid.org/0000-0002-0809-0093" target="_blank" title="ORCID"><i class="ai ai-orcid ai-2x"></i></a>
                <a href="https://scholar.google.com/citations?user=xMHwoyoAAAAJ&hl=en" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar-square ai-2x"></i></a>
                <!-- <a target="_blank" title="Upon Request"><i class="ai ai-cv"></i></a> -->
            </div>
              
          <hr style="margin: 20px 0; border: 0.4px solid lightgray;"> 
              
          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2 style="font-size: 20px; font-weight: bold;"><a href="{{ '/news/' | relative_url }}" style="color: inherit;">{{ "news" | capitalize }}</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <hr style="margin: 20px 0; border: 0.4px solid lightgray;">   
              
          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2 style="font-size: 20px; font-weight: bold;"><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">{{ "publications" | capitalize }}</a></h2>    
            {%- include selected_papers.html %}
          {%- endif %}
              
        </article>

</div>




